{% extends 'master.html' %}

{% block page_title %}
{{ object }}
{% endblock %}

{% block page_content %}
    {% if object %}
        <h1 class="object__name">
            {{ object.name }}
        </h1>
        <span class="object__description">
            {{ object.description }}
        </span>

    {% else %}
        Product does not exists
    {% endif %}
{% endblock %}
