{% extends 'master.html' %}

{% block page_title %}
Products list page
{% endblock %}

{% block page_content %}
<ul class="products-list">
    {% for itm in products %}
    <li class="products-list__item">
        <!-- <a href="{{ forloop.counter0 }}" class="products-list__item-link">
        </a> -->
        <a class="products-list__item-link" href="{% url 'products:detail' pk=itm.id %}">
                {{ itm.name }}
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
