{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    
    <title>
        {% block page_title %}{% endblock %}
    </title>
    {% block page_styles %}{% endblock %}
</head>
<body>

    <ul>
        <li>
            <a href="{% url 'main:index' %}">Главня</a>
        </li>
        <li>            
            <a href="{% url 'products:index' %}">Каталог</a>
        </li>
        <li>
            <a href="{% url 'main:contacts' %}">Контакты</a>
        </li>
        <li>
            <a href="{% url 'main:about' %}">О проекте</a>
        </li>
    </ul>
    
    {% block page_content %}
    {% endblock %}
    
</body>
</html>