{% extends 'master.html' %}

{% block page_title %}
Contacts page
{% endblock %}

{% block page_content %}
<h1>
    This is contacts page
</h1>
<ul>
    {% for itm in contacts|slice:"0:3" %}
    <li>{{ itm }}</li>
    {% endfor %}
</ul>
{% endblock %}
