{% extends 'master.html' %}

{% load static %}

{% block page_title %}
Main page
{% endblock %}

{% block page_styles %}
<link rel="stylesheet" href="{% static 'main/index.css' %}">
{% endblock %}

{% block page_content %}
<h1 class="page__title">
    {{ title }}
</h1>
<h2 class="page__subtitle">
    {{ subtitle }}
</h2>
{% if is_active %}
<h3>
    {{ username|title }}
</h3>
{% else %}
<span>
    User is not active
</span>
{% endif %}

<ul class="products-list">
    {% for itm in products|slice:"0:2" %}
        <li class="products-list__item">
            {{ itm.name }}
        </li>
    {% endfor %}
</ul>
{% endblock %}
